.seconds-container {
    display: flex;
    justify-content: center;
}

.seconds {
    background-color: #845EC2;
    border-radius: 50%;
    padding: 10px 22px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}